# BEGIN COPYRIGHT NOTICE
# Copyright 2024 Open Text.
#
# The only warranties for products and services of Open Text and its affiliates and licensors
# ("Open Text") are as may be set forth in the express warranty statements accompanying such
# products and services. Nothing herein should be construed as constituting an additional warranty.
# Open Text shall not be liable for technical or editorial errors or omissions contained herein.
# The information contained herein is subject to change without notice.
#
# END COPYRIGHT NOTICE
apiVersion: v2
name: search-abstractor-stack
version: "0.1.0"
appVersion: "24.3.0"
description: An IDOL setup for RAG
dependencies:
- alias: content
  condition: content.enabled
  name: single-content
  repository: &repository https://raw.githubusercontent.com/opentext-idol/idol-containers-toolkit/main/helm
  version: "0.9.0"
- alias: qms
  condition: qms.enabled
  name: idol-qms
  repository: *repository
  version: "0.4.0"
- alias: answerserver
  condition: answerserver.enabled
  name: idol-answerserver
  repository: *repository
  version: "0.2.0"
- alias: view
  condition: view.enabled
  name: idol-view
  repository: *repository
  version: "0.4.0"
- alias: ogs
  condition: ogs.enabled
  name: idol-omnigroupserver
  repository: *repository
  version: "0.6.0"
- alias: community
  condition: community.enabled
  name: idol-community
  repository: *repository
  version: "0.5.0"
- alias: nifi
  condition: nifi.enabled
  name: idol-nifi
  repository: *repository
  version: "0.5.0"
- alias: auth
  condition: auth.enabled
  name: discover-auth
  repository: https://raw.githubusercontent.com/opentext-idol/discover-deploy/refactor/auth/helm
  version: "0.1.0"