#
# Copyright 2024-2025 Open Text.
#
# The only warranties for products and services of Open Text and its
# affiliates and licensors ("Open Text") are as may be set forth in the
# express warranty statements accompanying such products and services.
# Nothing herein should be construed as constituting an additional
# warranty. Open Text shall not be liable for technical or editorial
# errors or omissions contained herein. The information contained herein
# is subject to change without notice.
#
# Except as specifically indicated otherwise, this document contains
# confidential information and a valid license is required for possession,
# use or copying. If this work is provided to the U.S. Government,
# consistent with FAR 12.211 and 12.212, Commercial Computer Software,
# Computer Software Documentation, and Technical Data for Commercial Items
# are licensed to the U.S. Government under vendor's standard commercial
# license.
#

// patching config file
// idol_ssl.cfg is written by run_idol.sh with SSL settings if required by IDOL_SSL env variable
// original.answerserver.cfg is the config file as contained in the standard component zip

// modified config sections

< "/answerserver/cfg/idol_ssl.cfg" [SSLSettings]

[License] < "/answerserver/cfg/answerserver.cfg" [License]
LicenseServerHost={{ .Values.answerserver.licenseServerHostname }}
LicenseServerACIPort={{ .Values.answerserver.licenseServerPort | int }}

[Service] < "/answerserver/cfg/answerserver.cfg" [Service]

[Server] < "/answerserver/cfg/answerserver.cfg" [Server]
AllowedQueryParameters=MatchReference,FieldText

< "/answerserver/cfg/idol_ssl.cfg" [EnableSSL] SSLConfig

[AuthorizationRoles] < "/answerserver/cfg/answerserver.cfg" [AuthorizationRoles]

[AdminRole] < "/answerserver/cfg/answerserver.cfg" [AdminRole]
Clients=*

[QueryRole] < "/answerserver/cfg/answerserver.cfg" [QueryRole]
Clients=*

[Systems]
0=RAGPassageExtractor
1=ConversationLicensor
{{ if .Values.answerserver.answerbank.enabled -}}
2=AnswerBank
{{ end -}}
{{- if .Values.answerserver.factbank.enabled -}}
{{ .Values.answerserver.answerbank.enabled | ternary "3" "2" }}=FactBank
{{ end }}
{{ if .Values.answerserver.answerbank.enabled -}}
[AnswerBank] < "/answerserver/cfg/answerserver.cfg" [AnswerBank]

{{ end -}}
{{- if .Values.answerserver.factbank.enabled -}}
[FactBank] < "/answerserver/cfg/answerserver.cfg" [FactBank]
connectionstring={{ .Values.answerserver.factbank.psqlConnectionString | default "{PostgreSQL};Server=idol-factbank-postgres;Port=5432;Database=factbank-data;Uid=postgres;password=password" }}
{{- if not .Values.answerserver.factbank.codingsPsqlConnectionString }}
CodingsConfigSection=FactBank
{{ else }}
CodingsConfigSection=ExternalCodings

[ExternalCodings]
connectionstring={{ .Values.answerserver.factbank.codingsPsqlConnectionString }}
codifiertype=odbc

{{ end -}}

{{ end -}}
[RAGPassageExtractor]
Type=rag
IdolHost=idol-qms
IdolAciPort=16000
ModuleID={{ .Values.saapi.vertexai.enabled | ternary "GenerativePythonVertexAI" "GenerativePythonLLM" }}
EductionGrammars=./resources/grammars/question_grammar_en.ecr,./passageextractor/eduction/number_en.ecr,./passageextractor/eduction/person_en.ecr,./passageextractor/eduction/date_en.ecr,./passageextractor/eduction/money_en.ecr
EductionLuaScript=./resources/lua/question_grammar_en.lua
PromptTemplatePath=./resources/llmdata/prompt_template.txt
TopicTemplatePath=./resources/llmdata/topic_template.txt
ContextJSONFields=Text,Source,Relevance
MaxQuestionSize=50
PromptTokenLimit=5000
AnswerCandidateEmbeddingsSettings=MiniLM256Vector

[ConversationLicensor]
Type=conversation
TaskConfigurationFile=./resources/llmdata/conversation_tasks.json
SessionExpirationInterval=0

{{ if .Values.saapi.vertexai.enabled -}}
[GenerativePythonVertexAI]
Type=GenerativePython
script=./resources/llmdata/vertex.py
{{- else -}}
[GenerativePythonLLM]
Type=GenerativePython
script=./resources/llmdata/vllm.py
{{- end}}

[MiniLM256Vector]
EmbeddingsConfig=MiniLM256
VectorField={{ .Values.saapi.usingDiscoverIndex | ternary "PROPERTY1ENTITY1DOCUMENTENTITY1TEXTVECTOR/VECTOR" "VECTOR_MINILM_256"}}

[MiniLM256]
Type=Transformer
ModelName=sentence-transformers/multi-qa-MiniLM-L6-cos-v1
ModelRevision=b207367332321f8e44f96e224ef15bc607f4dbf0
ModelMaxSequenceLength=256
ModelSequenceOverlap=16
ModelMinimumFinalSequenceLength=64

[Logging] < "/answerserver/cfg/answerserver.cfg" [Logging]
LogLevel=FULL

// unmodified config sections

[Paths] < "/answerserver/cfg/answerserver.cfg" [Paths]
[ApplicationLogStream] < "/answerserver/cfg/answerserver.cfg" [ApplicationLogStream]
[ActionLogStream] < "/answerserver/cfg/answerserver.cfg" [ActionLogStream]
[FactBankLogStream] < "/answerserver/cfg/answerserver.cfg" [FactBankLogStream]
[AnswerBankLogStream] < "/answerserver/cfg/answerserver.cfg" [AnswerBankLogStream]
[PassageExtractorLogStream] < "/answerserver/cfg/answerserver.cfg" [PassageExtractorLogStream]
[ConversationModuleLogStream] < "/answerserver/cfg/answerserver.cfg" [ConversationModuleLogStream]
