#
# Copyright 2024-2025 Open Text.
#
# The only warranties for products and services of Open Text and its
# affiliates and licensors ("Open Text") are as may be set forth in the
# express warranty statements accompanying such products and services.
# Nothing herein should be construed as constituting an additional
# warranty. Open Text shall not be liable for technical or editorial
# errors or omissions contained herein. The information contained herein
# is subject to change without notice.
#
# Except as specifically indicated otherwise, this document contains
# confidential information and a valid license is required for possession,
# use or copying. If this work is provided to the U.S. Government,
# consistent with FAR 12.211 and 12.212, Commercial Computer Software,
# Computer Software Documentation, and Technical Data for Commercial Items
# are licensed to the U.S. Government under vendor's standard commercial
# license.
#

// patching config file
// idol_ssl.cfg is written by run_idol.sh with SSL settings if required by IDOL_SSL env variable
// original.community.cfg is the config file as contained in the standard component zip

// modified config sections

< "/community/cfg/idol_ssl.cfg" [SSLSettings]

[License] < "/community/cfg/community.cfg" [License]
LicenseServerHost={{ .Values.community.licenseServerHostname }}

[Service] < "/community/cfg/community.cfg" [Service]

[Server] < "/community/cfg/community.cfg" [Server]
< "/community/cfg/idol_ssl.cfg" [EnableSSL] SSLConfig

[AuthorizationRoles] < "/community/cfg/community.cfg" [AuthorizationRoles]

[AdminRole] < "/community/cfg/community.cfg" [AdminRole]

[QueryRole] < "/community/cfg/community.cfg" [QueryRole]

[AgentDRE] < "/community/cfg/community.cfg" [AgentDRE]
Host={{ .Values.community.agentStoreName }}
ACIPort={{ .Values.community.agentStoreACIPort | int }}
SSLConfig=AgentDRE
SSLMethod={{ default "None" .Values.community.agentStoreSSLMethod }}

[DataDRE] < "/community/cfg/community.cfg" [DataDRE]
Host={{ .Values.community.queryserviceName }}
ACIPort={{ .Values.community.queryserviceACIPort | int }}
SSLConfig=DataDRE
SSLMethod={{ default "None" .Values.community.queryserviceSSLMethod }}

[Security] < "/community/cfg/community.cfg" [Security]
{{- if not .Values.community.cfg.overwrite }}
CheckEntitlement=TRUE
SyncRolesFromGroups=TRUE
0=OTDS
{{- end }}
{{ .Values.community.cfg.security }}

[OTDS]
Library=modules/user_otdssecurity
{{ include "otds.securitylib.config" (dict "root" . "auth" .Values.auth "sslsettings" "SSLSettingsOTDS") }}
EnableLogging=TRUE
DocumentSecurity=TRUE
GroupServerHost={{ .Values.ogs.name }}
GroupServerPort={{ .Values.ogs.aciPort }}
GroupServerRepository=OTDS
{{ .Values.community.cfg.otds }}

[SSLSettingsOTDS]
SSLMethod={{ include "otds.sslmethod" (dict "root" . "auth" .Values.auth) }}

[Logging] < "/community/cfg/community.cfg" [Logging]

// unmodified config sections

[Paths] < "/community/cfg/community.cfg" [Paths]
[Autonomy] < "/community/cfg/community.cfg" [Autonomy]
[User] < "/community/cfg/community.cfg" [User]
[Role] < "/community/cfg/community.cfg" [Role]
[Agent] < "/community/cfg/community.cfg" [Agent]
[Profile] < "/community/cfg/community.cfg" [Profile]
[Community] < "/community/cfg/community.cfg" [Community]
[ApplicationLogStream] < "/community/cfg/community.cfg" [ApplicationLogStream]
[ActionLogStream] < "/community/cfg/community.cfg" [ActionLogStream]
[TermLogStream] < "/community/cfg/community.cfg" [TermLogStream]
[MailerLogStream] < "/community/cfg/community.cfg" [MailerLogStream]
[UserLogStream] < "/community/cfg/community.cfg" [UserLogStream]