#
# Copyright 2024-2025 Open Text.
#
# The only warranties for products and services of Open Text and its
# affiliates and licensors ("Open Text") are as may be set forth in the
# express warranty statements accompanying such products and services.
# Nothing herein should be construed as constituting an additional
# warranty. Open Text shall not be liable for technical or editorial
# errors or omissions contained herein. The information contained herein
# is subject to change without notice.
#
# Except as specifically indicated otherwise, this document contains
# confidential information and a valid license is required for possession,
# use or copying. If this work is provided to the U.S. Government,
# consistent with FAR 12.211 and 12.212, Commercial Computer Software,
# Computer Software Documentation, and Technical Data for Commercial Items
# are licensed to the U.S. Government under vendor's standard commercial
# license.
#

// patching config file
// idol_ssl.cfg is written by run_idol.sh with SSL settings if required by IDOL_SSL env variable
// /omnigroupserver/cfg/original.omnigroupserver.cfg is the config file as contained in the standard component zip

// modified config sections

< "/omnigroupserver/cfg/idol_ssl.cfg" [SSLSettings]

[License] < "/omnigroupserver/cfg/omnigroupserver.cfg" [License]
LicenseServerHost={{ .Values.ogs.licenseServerHostname }}

[Service]
< "/omnigroupserver/cfg/omnigroupserver.cfg" [Service] Access-Control-Allow-Origin

[Server] < "/omnigroupserver/cfg/omnigroupserver.cfg" [Server]
< "idol_ssl.cfg" [EnableSSL] SSLConfig

[Logging] < "/omnigroupserver/cfg/omnigroupserver.cfg" [Logging]

[AdminRole] < "/omnigroupserver/cfg/omnigroupserver.cfg" [AdminRole]
Clients=*

[QueryRole] < "/omnigroupserver/cfg/omnigroupserver.cfg" [QueryRole]
Clients=*

[Repositories] < "/omnigroupserver/cfg/omnigroupserver.cfg" [Repositories]
{{- if not .Values.ogs.cfg.overwrite }}
Number={{ regexFindAll "\\d+\\s*=" .Values.ogs.cfg.repositories -1 | last | default "0" | trimAll "=" | trim | add 1 }}
0=OTDS
{{- end }}
{{ .Values.ogs.cfg.repositories }}

[OTDS] < "/omnigroupserver/oauth_otds.cfg" [OAUTH]
GroupServerLibrary=otds/ogs_otds
SSLMethod={{ include "otds.sslmethod" (dict "root" . "auth" .Values.auth) }}
OTDSRestAPIUrl={{ include "otds.endpoint" (dict "root" . "auth" .Values.auth) }}/otdsws/rest
{{ .Values.ogs.cfg.otds }}

// unmodified config sections

[AuthorizationRoles] < "/omnigroupserver/cfg/omnigroupserver.cfg" [AuthorizationRoles]

[APP_LOG_STREAM] < "/omnigroupserver/cfg/omnigroupserver.cfg" [APP_LOG_STREAM]
[ACTION_LOG_STREAM] < "/omnigroupserver/cfg/omnigroupserver.cfg" [ACTION_LOG_STREAM]
[DATASTORE_LOG_STREAM] < "/omnigroupserver/cfg/omnigroupserver.cfg" [DATASTORE_LOG_STREAM]
[JOB_LOG_STREAM] < "/omnigroupserver/cfg/omnigroupserver.cfg" [JOB_LOG_STREAM]
[Default] < "/omnigroupserver/cfg/omnigroupserver.cfg" [Default]
