#
# Copyright 2024-2025 Open Text.
#
# The only warranties for products and services of Open Text and its
# affiliates and licensors ("Open Text") are as may be set forth in the
# express warranty statements accompanying such products and services.
# Nothing herein should be construed as constituting an additional
# warranty. Open Text shall not be liable for technical or editorial
# errors or omissions contained herein. The information contained herein
# is subject to change without notice.
#
# Except as specifically indicated otherwise, this document contains
# confidential information and a valid license is required for possession,
# use or copying. If this work is provided to the U.S. Government,
# consistent with FAR 12.211 and 12.212, Commercial Computer Software,
# Computer Software Documentation, and Technical Data for Commercial Items
# are licensed to the U.S. Government under vendor's standard commercial
# license.
#

// patching config file
// idol_ssl.cfg is written by run_idol.sh with SSL settings if required by IDOL_SSL env variable
// /qms/cfg/original.qms.cfg is the config file as contained in the standard component zip
// /qms/cfg/qms.cfg is ths standard container config file

// modified config sections

< "/qms/cfg/idol_ssl.cfg" [SSLSettings]

[License] < "/qms/cfg/qms.cfg" [License]
LicenseServerHost={{ .Values.qms.licenseServerHostname }}

[Service] < "/qms/cfg/qms.cfg" [Service]
Access-Control-Allow-Origin=*

[Server] < "/qms/cfg/qms.cfg" [Server]
Threads=32

[IDOL]
Host={{ .Values.qms.queryserviceName }}
Port={{ .Values.qms.queryserviceACIPort }}
SSLConfig=IDOL
SSLMethod={{ default "None" .Values.qms.queryserviceSSLMethod }}

// Currently no separate promotions agentstore used
[PromotionAgentStore]
Host={{ .Values.qms.queryserviceName }}
Port={{ .Values.qms.queryserviceACIPort }}
SSLConfig=IDOL

[Embeddings]
0=Model_minilm_256
1=Model_clip_ViT-B-32

[Model_minilm_256]
Type=Transformer
ModelName=sentence-transformers/multi-qa-MiniLM-L6-cos-v1
ModelRevision=b207367332321f8e44f96e224ef15bc607f4dbf0
ModelMaxSequenceLength=256
ModelSequenceOverlap=16
ModelMinimumFinalSequenceLength=64

[Model_clip_ViT-B-32]
Type=Transformer
ModelName=sentence-transformers/clip-ViT-B-32-multilingual-v1
ModelRevision=58edf8cada9e398793dca955574a48cbb7f18be2
ModelMaxSequenceLength=128
ModelSequenceOverlap=16
ModelMinimumFinalSequenceLength=64

[VectorFields]
0=VModel_minilm_256
1=VModel_clip

[VModel_minilm_256]
FieldName={{ .Values.saapi.usingDiscoverIndex | ternary "PROPERTY1ENTITY1DOCUMENTENTITY1TEXTVECTOR/VECTOR" "VECTOR_MINILM_256" }}
MaxNeighbors=100
Model=Model_minilm_256

[VModel_clip]
FieldName={{ .Values.saapi.usingDiscoverIndex | ternary "PROPERTY1ENTITY1IMAGEENTITY1MEDIAVECTOR/VECTOR" "VECTOR_CLIP-VIT-B-32" }}
Model=Model_clip_ViT-B-32
MaxNeighbors=100
WeightMultiplier=3.5

[LanguageTypes] < "/qms/cfg/qms.cfg" [LanguageTypes]
0=english

[english]
Encodings=UTF8:englishUTF8

// unmodified config sections

[AuthorizationRoles] < "/qms/cfg/qms.cfg" [AuthorizationRoles]
[AdminRole] < "/qms/cfg/qms.cfg" [AdminRole]
[QueryRole] < "/qms/cfg/qms.cfg" [QueryRole]
[Paths] < "/qms/cfg/qms.cfg" [Paths]
[Logging] < "/qms/cfg/qms.cfg" [Logging]
[ApplicationLogStream] < "/qms/cfg/qms.cfg" [ApplicationLogStream]
[QueryLogStream] < "/qms/cfg/qms.cfg" [QueryLogStream]