#
# Copyright 2024-2025 Open Text.
#
# The only warranties for products and services of Open Text and its
# affiliates and licensors ("Open Text") are as may be set forth in the
# express warranty statements accompanying such products and services.
# Nothing herein should be construed as constituting an additional
# warranty. Open Text shall not be liable for technical or editorial
# errors or omissions contained herein. The information contained herein
# is subject to change without notice.
#
# Except as specifically indicated otherwise, this document contains
# confidential information and a valid license is required for possession,
# use or copying. If this work is provided to the U.S. Government,
# consistent with FAR 12.211 and 12.212, Commercial Computer Software,
# Computer Software Documentation, and Technical Data for Commercial Items
# are licensed to the U.S. Government under vendor's standard commercial
# license.
#

// patching config file
// idol_ssl.cfg is written by run_idol.sh with SSL settings if required by IDOL_SSL env variable
// original.view.cfg is the config file as contained in the standard component zip

// modified config sections

< "/view/cfg/idol_ssl.cfg" [SSLSettings]

[License] < "/view/cfg/view.cfg" [License]
LicenseServerHost={{ .Values.view.licenseServerHostname }}

[Service] < "/view/cfg/view.cfg" [Service]

[Server] < "/view/cfg/view.cfg" [Server]
MaxInputString=-1

[Viewing] < "/view/cfg/view.cfg" [Viewing]
IDOLHost={{ .Values.view.queryserviceName }}
IDOLPort={{ .Values.view.queryserviceACIPort | int }}
SSLConfig=Viewing
SSLMethod={{ default "None" .Values.view.queryserviceSSLMethod }}
{{ if .Values.view.nifiserviceName -}}
DistributedConnectorHost={{ .Values.view.nifiserviceName }}
DistributedConnectorPort={{ .Values.view.nifiserviceACIPort | int }}
{{- end }}

[UniversalViewing] < "/view/cfg/view.cfg" [UniversalViewing]
Enabled={{ ternary "FALSE" "TRUE" (empty .Values.view.nifiserviceName) }}
DocumentStoreHost={{ .Values.view.queryserviceName }}
DocumentStorePort={{ .Values.view.queryserviceACIPort | int }}
{{ if .Values.saapi.usingDiscoverIndex -}}
DistributedConnectorReferenceField=PROPERTY1BASEENTITY1BASE1INGESTIDENTIFIER/STRING
ConnectorGroupField=PROPERTY1BASEENTITY1BASE1CONNECTORGROUP/STRING
FallbackContentField=PROPERTY1ENTITY1DOCUMENTENTITY1TEXT/TEXT
{{- end }}

// unmodified config sections
[SSLSection] < "/view/cfg/view.cfg" [SSLSection]
[AuthorizationRoles] < "/view/cfg/view.cfg" [AuthorizationRoles]
[AdminRole] < "/view/cfg/view.cfg" [AdminRole]
[QueryRole] < "/view/cfg/view.cfg" [QueryRole]
[Logging] < "/view/cfg/view.cfg" [Logging]
[Paths] < "/view/cfg/view.cfg" [Paths]
[ApplicationLogStream] < "/view/cfg/view.cfg" [ApplicationLogStream]
[QueryLogStream] < "/view/cfg/view.cfg" [QueryLogStream]
[CustomViewingErrors] < "/view/cfg/view.cfg" [CustomViewingErrors]
